*{
	box-sizing:border-box;
	  font-family: Comic Sans MS,Helvetica,genera,arial black;
	  padding:5px;
	  
}
 
h1{
	color:#68118a;
	text-align:  center;
	font-size:1.75em;
}

 
p{
	padding:5px;
	font-size:1.1em;
	
}

.divs1{
	background-color:#ffcf79;
	border:1px solid black;
	 
}
.divs2{
	background-color:#ffcf79;
	border:1px solid black;	 
}
.divs3{
	background-color:#ffcf79;
	border:1px solid black;	 
}

	.cont1{ 
	float:left;
	}
	.cont2{
	
	float:left;
	}
	.cont3{
	
	float:left;
	}
	
.chicken{
	float:right;
	border:1px solid black;
	padding:5px;
	width:40%;
	text-align:center;
	background-color:#D3D3D3;
	color:red;
	margin-top:-6px;
	margin-right:-6px;
}

.beef{  
	float:right;
	border:1px solid black;
	padding:5px;
	width:40%;
	text-align:center;
	background-color:#D3D3D3;
	color:green;
	margin-top:-6px;
	margin-right:-6px;
	}
.sushi{  
	float:right;
	border:1px solid black;
	padding:5px;
	width:40%;
	text-align:center;
	background-color:#D3D3D3;
	color:brown;
	margin-top:-6px;
	margin-right:-6px;
	}

/*desktop view*/
@media (min-width:992px) {
	.cont1{
		width:33.33%;
	}
	.cont2{
		width:33.33%;
	}
	.cont3{
		width:33.33%;
	}	
}
/*tab view*/
@media (min-width: 768px) and (max-width: 991px)  {
	.cont1{
		width:50%;
	}
	.cont2{
		width:50%;
	}
	.cont3{
		width:100%;
	}	
}
/*mobile view*/
@media (max-width:767px){
	.cont1{
		width:100%;
	}
	.cont2{
		width:100%;
	}
	.cont3{
		width:100%;
	}
}	
